@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

body {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #ffffff;
}

.grid {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 15px;
}

.card {
    display: block;
    background-color: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.grid ul a li {
    padding: 5px;
    border-bottom: 1px solid black;
    width: 60%;
}